{% load i18n %}
{% load static %}
<div class="submit-row">
    {% if show_save %}
        <input
            type="submit"
            value="{% trans 'Save' %}"
            class="default"
            name="_save"
        />
    {% endif %}
    {% if show_save_and_add_another %}
        <input
            type="submit"
            value="{% trans 'Save and add another' %}"
            name="_addanother"
        />
    {% endif %}
    {% if show_save_and_continue %}
        <input
            type="submit"
            value="{% trans 'Save and continue editing' %}"
            name="_continue"
        />
    {% endif %}

    {% if btn_methods %}
        {% for btn_method in btn_methods %}
            <input
                type="submit"
                value="{{ btn_method|capfirst }}"
                name="btn__{{ btn_method }}"
            />
        {% endfor %}
    {% endif %}

    {% if show_delete_link %}
        <a
            href="{{ delete_url }}"
            class="deletelink">
            {% trans "Delete" %}
        </a>
    {% endif %}
</div>
